.consumption{
    color: red;
}

.income{
    color: green;
}


.table-row{
    cursor:pointer;
    }

.table{
    table-layout: fixed;
}

.block-is-loading{
    opacity: 0.5;
}

.error-request{
    color: red;
}